* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      background-color: skyblue;
}

/* HEADER */
.container {
      max-width: 1170px;
      margin: 0 auto;
}
.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      margin-top: 2em;
}
.header .logo {
      display: flex;
}

header .nav {
      display: flex;
      justify-content: space-between;
      list-style: none;
      text-transform: uppercase;
}
header h3 {
      font-size: 2.5em;
      font-weight: 900;
      margin-left: 0.3em;
}
header .nav li:not(:last-child) {
      margin-right: 2em;
}
.active {
      background-color: black;
      padding: 15px;
      color: white;
      border-radius: 7px;
}
li a {
      text-decoration: none;
      color: black;
      font-size: 1.2em;
      position: relative;
      font-weight: 500;
}

.nav .list::before {
      position: absolute;
      content: '';
      bottom: -10px;
      left: 20px;
      width: 50%;
      height: 7px;
      background-color: #ebd96b;
      visibility: hidden;
      transition: all 0.1s ease-in-out;
}

.nav .list:hover::before {
      visibility: visible;
}
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      background-color: skyblue;
}

/* HEADER */
.container {
      max-width: 1170px;
      margin: 0 auto;
}
.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      margin-top: 2em;
}
.header .logo {
      display: flex;
}

header .nav {
      display: flex;
      justify-content: space-between;
      list-style: none;
      text-transform: uppercase;
}
header h3 {
      font-size: 2.5em;
      font-weight: 900;
      margin-left: 0.3em;
}
header .nav li:not(:last-child) {
      margin-right: 2em;
}
.active {
      background-color: black;
      padding: 15px;
      color: white;
      border-radius: 7px;
}
li a {
      text-decoration: none;
      color: black;
      font-size: 1.2em;
      position: relative;
      font-weight: 500;
}

.nav .list::before {
      position: absolute;
      content: '';
      bottom: -10px;
      left: 20px;
      width: 50%;
      height: 7px;
      background-color: #ebd96b;
      visibility: hidden;
      transition: all 0.1s ease-in-out;
}

.nav .list:hover::before {
      visibility: visible;
}

/* HOME======================== */

.home {
      margin-top: 50px;
      background-color: #f4f6f5;
      display: flex;
      position: relative;
      border-radius: 10px;
}
.section-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      padding: 40px;
}
.section-left h1 {
      width: 474px;
      font-size: 96px;
      padding-top: 40px;
      line-height: 1;
      font-weight: 900;
}
.section-left a {
      cursor: pointer;
      width: 200px;
      text-align: center;
}

.section-right img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 600px;
      height: 500px;
      padding-right: 30px;
}
.word-let {
      position: relative;
      z-index: 1;
}
.word-let::before {
      content: '';
      position: absolute;
      top: 0;
      left: -25px;
      width: 350px;
      height: 112px;
      transform: rotate(-3deg);
      background-color: #fff;
      z-index: -1;
}
.word-unique {
      position: relative;
      z-index: 1;
}
.word-unique::before {
      content: '';
      position: absolute;
      bottom: 10px;
      left: -430px;
      width: 400px;
      height: 112px;
      transform: rotate(-3deg);
      background-color: #ebd96b;
      z-index: -1;
}
.home a {
      text-decoration: none;
      font-weight: 600;
}

/* BRANDS==================== */
.brands {
      height: 120px;
      display: flex;
      margin-top: 60px;
      justify-content: space-around;
      align-items: center;
      background-color: #ebd96b;
}

.brands img {
      background: #ebd96b;
}

/* New Arrivals =============== */
.new-arrivals {
      margin-top: 70px;
}
.new-arrivals-title {
      position: relative;
      z-index: 1;
      font-size: 3em;
      font-weight: 800;
}
.new-arrivals-title::before {
      content: '';
      background-image: url(../img/new-arrivals-back.svg);
      position: absolute;
      width: 192px;
      height: 25px;
      bottom: 0;
      left: 125px;
      z-index: -1;
}
.cards-row {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
}

.card-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.new-arrivals .card {
      transition: 0.2s ease-in-out;
}
.new-arrivals .card:hover {
      scale: 1.02;
      cursor: pointer;
}
.card h2 {
      letter-spacing: 0.2px;
}

.card i {
      font-size: 30px;
}

/* SALE ===================== */

.sale {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;
}
.sale .card {
      border-radius: 0;
}

.sale-right {
      background-image: url('../img/sale_background.png');
      border: 1px solid #e0c340;
}
.sale-right-content {
      padding-left: 20px;
      width: 650px;
      margin-top: 50px;
}
.sale h1 {
      font-size: 110px;
      width: 550px;
      font-weight: 900;
      line-height: 0.8;
}
.sale p {
      width: 550px;
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 2em;
      line-height: 0.8;
      text-align: left;
}
.sale p:nth-child(3) {
      font-weight: 900;
}
.sale-btn {
      font-size: 2em;
      text-decoration: none;
}

/* FAVORITE ================== */

.favorite {
      margin-top: 70px;
}
.favorite .card {
      transition: 0.2s ease-in-out;
}
.favorite .card:hover {
      cursor: pointer;
      scale: 1.02;
}

/* CONTACT =============== */

.contact {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 70px;
      text-align: center;
      background-color: #e5c643;
      height: 623px;
      color: #fff;
}

.contact h1 {
      font-weight: 900;
      width: 920px;
      margin: 0 auto;
      font-size: 3em;
}
.contact p {
      font-size: 1.5em;
      font-weight: 700;
}

.contact .input {
      margin: 0 auto;
      width: 570px;
      position: relative;
}
.contact input {
      border-radius: 20px;
      width: 100%;
      font-size: 2em;
      padding: 25px 35px;
      padding-right: 150px;
}
.contact a {
      padding: 17px 35px;
      position: absolute;
      bottom: 22%;
      right: 3%;
      text-decoration: none;
      font-weight: 600;
}

/* FOOTER =============== */

footer {
      color: #fff;
}
footer img:hover {
      cursor: pointer;
}
